/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family: guardiansans-regular, sans-serif;
  --body-mon-font-family: montserrat-regular, sans-serif;
  --header-font-family: guardiansans-medium, sans-serif;
  --heading-font-family: guardiansans-semibold, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 24px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

[class*='reicons-']:before {
    display: inline-block;
    font-family: 'royalenfield icon';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class*='icon-']:before {
    display: inline-block;
    font-family: 'reicons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 22px;
    --heading-font-size-l: 18px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

main .section.retheme {
  background-color: #212529;
  color: #fff;
  h2 {
    text-align:center;
  }
}

main .section.icontheme {
  background-color: #212121;
  color: #fff;
  h2 {
    text-align:center;
  }
}

main .section.nomargin {
  padding:0;
  margin:0;
  h2 {
     margin: 0;
     padding: 15px 0;
  }
  .tabs-title h2{
    padding: 0px;
  }
}
@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        transform: translateX(2px)
    }

    33.3% {
        transform: translateX(-1px)
    }

    49.95% {
        transform: translateX(1px)
    }

    66.6% {
        transform: translateX(-1px)
    }

    83.25% {
        transform: translateX(1px)
    }

    100% {
        transform: translateX(0)
    }
}


.icon-arrow-forward:before {
    content: '\0041'
}

.icon-button-arrow:before {
    content: '\0042'
}

.icon-arrow-down:before {
    content: '\0043'
}

.icon-globe:before {
    content: '\0045'
}

.icon-fb:before {
    content: '\0046'
}

.icon-tw:before {
    content: '\0047'
}

.icon-yt:before {
    content: '\0048'
}

.icon-ig:before {
    content: '\0049'
}

.icon-hand-point:before {
    content: '\004a'
}

.icon-map-store-point:before {
    content: '\004b'
}

.icon-thread:before {
    content: '\004c'
}

.icon-ride-out:before {
    content: '\004d'
}

.icon-star:before {
    content: '\004e'
}

.icon-star-filled:before {
    content: '\004f'
}

.icon-date:before {
    content: '\0050'
}

.icon-play:before {
    content: '\0051'
}

.icon-download:before {
    content: '\0052'
}

.icon-destination:before {
    content: '\0053'
}

.icon-distance:before {
    content: '\0054'
}

.icon-duration:before {
    content: '\0055'
}

.icon-origin:before {
    content: '\0056'
}

.icon-price:before {
    content: '\0057'
}

.icon-hilly-terrain:before {
    content: '\0058'
}

.icon-re-store-point:before {
    content: '\0059'
}

.icon-re-service-point:before {
    content: '\005a'
}

.icon-after_sales:before {
    content: '\0061'
}

.icon-country-side:before {
    content: '\0062'
}

.icon-customisation:before {
    content: '\0063'
}

.icon-desert:before {
    content: '\0064'
}

.icon-dirt-track:before {
    content: '\0065'
}

.icon-highways:before {
    content: '\0066'
}

.icon-off-roading:before {
    content: '\0067'
}

.icon-members:before {
    content: '\0068'
}

.icon-motorcycle:before {
    content: '\0069'
}

.icon-motorcycle_maintainance:before {
    content: '\006a'
}

.icon-new_to_motorcycling:before {
    content: '\006b'
}

.icon-post:before {
    content: '\006c'
}

.icon-pause:before {
    content: '\006d'
}

.icon-time:before {
    content: '\006e'
}

.icon-eye:before {
    content: '\006f'
}

.icon-close:before {
    content: '\0070'
}

.icon-visible:before {
    content: '\0071'
}

.icon-invisible:before {
    content: '\0072'
}

.icon-ribbon:before {
    content: '\0073'
}

.icon-call:before {
    content: '\0074'
}

.icon-chat:before {
    content: '\0075'
}

.icon-faq:before {
    content: '\0076'
}

.icon-check:before {
    content: '\0077'
}

.icon-mail:before {
    content: '\0078'
}

.icon-rsa:before {
    content: '\0079'
}

.icon-arrow-backward:before {
    content: '\007a'
}

.icon-arrow-up:before {
    content: '\0030'
}

.icon-user:before {
    content: '\0031'
}

.icon-delet:before {
    content: '\0032'
}

.icon-edit:before {
    content: '\0033'
}

.icon-muted:before {
    content: '\0034'
}

.icon-unmute:before {
    content: '\0035'
}

.icon-finance:before {
    content: '\0036'
}

.icon-gplus:before {
    content: '\0037'
}

.icon-motorcycle-accessories:before {
    content: '\0038'
}

.icon-arrow-down-double:before {
    content: '\0039'
}

.icon-plus:before {
    content: '\0021'
}

.icon-rupee:before {
    content: '\0022'
}

.icon-motorcycle-men:before {
    content: '\0023'
}

.icon-location:before {
    content: '\0024'
}

.icon-minus:before {
    content: '\0025'
}

.icon-my-motorcycle:before {
    content: '\0026'
}

.icon-my-discussions:before {
    content: '\0027'
}

.icon-international:before {
    content: '\0028'
}

.icon-new-branch-members:before {
    content: '\0028'
}

.icon-corporate:before {
    content: '\0029'
}

.icon-experimental-partners:before {
    content: '\0029'
}

.icon-awards:before {
    content: '\002a'
}

.icon-offers:before {
    content: '\002a'
}

.icon-on-site-minor-repairs:before {
    content: '\002b'
}

.icon-vehicle-breakdown:before {
    content: '\002c'
}

.icon-battery-drain:before {
    content: '\002d'
}

.icon-incorrect-fuelling:before {
    content: '\002e'
}

.icon-fuel-delivery:before {
    content: '\002f'
}

.icon-flat-tyre-assistance:before {
    content: '\005b'
}

.icon-key-lock-out:before {
    content: '\005c'
}

.icon-medical-referral:before {
    content: '\005d'
}

.icon-announcement:before {
    content: '\005e'
}

.icon-financial:before {
    content: '\005f'
}

.icon-cart:before {
    content: '\0060'
}

.icon-events:before {
    content: '\007b'
}

.icon-vehicle-accident:before {
    content: '\007c'
}

.icon-accessories:before {
    content: '\007d'
}

.icon-local-rides:before {
    content: '\007d'
}

.icon-product-launches:before {
    content: '\007e'
}

.icon-european-rides:before {
    content: '\007e'
}

.icon-difficulty:before {
    content: '\003f'
}

.icon-reviews:before {
    content: '\003d'
}

.icon-product-reviews:before {
    content: '\003b'
}

.icon-features-branch-profiles:before {
    content: '\003b'
}

.icon-icon-public:before {
    content: '\0040'
}

.icon-icon-private:before {
    content: '\003c'
}

.icon-icon-closed:before {
    content: '\003e'
}

.icon-camera:before {
    content: '\20b9'
}

.icon-eurorides:before {
    content: '\007e'
}

.icon-localrides:before {
    content: '\007d'
}

.icon-branchprofiles:before {
    content: '\0029'
}

.icon-branchmember:before {
    content: '\0028'
}
